services:
  dev:
    restart: unless-stopped
    build: .
    command: tail -f /dev/null
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - 8087:8080
    volumes:
      - ./:/workspace
